html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, #category  {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-size: 1.4rem;
  line-height: 2em;
  -webkit-text-size-adjust: none;
}

.hud a,
p a{
  text-decoration: none;
  color:#333;
  display: inline-block;
}

.hud a:hover,
p a:hover{
  color:#a78d00;
}

p a:not(.out-arrow):after{
  content:" ";
  display: block;
  border-bottom: 2px solid #a78d00;
  width: 100%;
}

a.out-arrow{
  content: "";
  display: inline-block;
  height:1em;
  background : url(../images/arrowOut.png) no-repeat;
  width: 20px;
  background-size: 120%;
  background-position: bottom right;
}

h1{
  margin-top: 4rem;
  font-size: 2.5rem;
}
h2{
  font-size: 1.8rem;
  line-height: 2em;
}
#category,
h3{
  font-size: 1.8rem;
  margin:.5em 0;
  font-weight: bold;
}

nav{
    position: relative;
    text-align: center;
    height: 60px;
    padding:10px;
    /*background-color: white;*/
    white-space: nowrap;
    /*overflow-x:scroll;*/
    /*overflow-y:visible!important;*/
    overflow: auto;
}



#side-panel{
  display: none;
  width: 50%;
  position: fixed;
  height: 100%;
  right: -50%;
  z-index: 10;
  background-color: #ffffffe6;
  transition: right 0.5s;
}

body[state="flow"] #side-panel{
  display: block;
}

#side-panel.open{
  position: fixed;
  height: 100%;
  right: 0;
}

.hud a,
nav a{
  position: relative;
  padding:0 5px;
  cursor:pointer;
  font-size: 1.6rem;
  margin-left: 0;
  transition:margin-left .3s;
}

.hud a{
    border: solid 1px #333;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 0px 5px;
    padding: .1em .8em .2em .8em;
}

.hud a.active,
.hud a:hover{
  border:solid 1px #a78d00;
  color: #a78d00;
}

nav a.inactive,
nav a.inactive:hover{
  color:#dadada;
  cursor: default;
}


nav a.active,
nav a:hover{
  color:#a78d00;
}


nav a.active{
  cursor: default;
}


#sketch{
  position: fixed;
  z-index: 0;
}

.round-button{
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 20px;
  bottom: 30px;
  background-color: #ffffffe6;
  border: solid 2px #a78d00;
  z-index: 20;
  border-radius: 50%;
  cursor: pointer;
}
.round-button:hover{
  background-color: #a78d00;
}
#download-button{
  right: 0px;
}

#nav-button{
  left: -80px;
}

#nav-button:before{
  content: " ";
  display: block;
  border-left: solid 3px #a78d00;
  border-top: solid 3px #a78d00;
  width: 30%;
  height: 30%;
  margin: 30% 35%;
  border-radius: 15%;
  transform: rotate(-45deg);
}
#download-button:before{
  content: " ";
  position: absolute;
  display: block;
  border-left: solid 3px #a78d00;
  border-top: solid 3px #a78d00;
  width: 30%;
  height: 30%;
  margin: 35% 32%;
  border-radius: 15%;
  transform: rotate(225deg);
}
#download-button:after{
  content: " ";
  position: absolute;
  display: block;
  border-left: solid 3px #a78d00;
  border-top: solid 3px #a78d00;
  width: 30%;
  height: 30%;
  margin: 20% 32%;
  border-radius: 15%;
  transform: rotate(225deg);
}
#download-button:hover:before,
#download-button:hover:after,
#nav-button:hover:before{
  content: " ";
  border-left: solid 3px #f7f7f7;
  border-top: solid 3px #f7f7f7;
}


#side-panel.open #nav-button:before{
    margin: 30%;
    border-radius: 15%;
    transform: rotate(135deg);
  }

#state-information{
  position: fixed;
  bottom:0;
  margin: 50px 2.5%;
  width: 15%;
  z-index:20;

}

#side-panel p,
#state-information p{
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.3em;
}
#side-panel p{
  line-height: 1.5em;
}
#drawer{
  position: fixed;
  height:55%;
  width:100%;
  /*background-color: #f3f3f0;*/
  background-color:#ffffffe6;
  top:100%;
  z-index:25;
  margin-top: -40px;
}


.slide-in {
  animation-duration: .3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@-webkit-keyframes slidein { from {top:100%;} to {top:55%;} }
        @keyframes slidein { from {top:100%;} to {top:55%;} }

.lds-dual-ring{
  margin-left: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -11px;
    margin-left: -55px;
    border-radius: 50%;
    border: 3px solid #a78d00;
    border-color: #a78d00 transparent #a78d00 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#lang-anim{
  display: inline-block;
  position: relative;
}
#lang-anim:after{
  content: "";
  display: inline-block;
  position: absolute;
  border-bottom: 2px solid black;
  width: 0%;
  top: 50%;
  left: 0;
  animation: strikethrough 3s ease-out infinite;
}
#lang-anim:before{
  content:"against?";
  display: inline-block;
  position: absolute;
  margin-top: -1em;
  margin-left: -50%;
  opacity: 0;
  animation: fadein 3s ease-in infinite;
}
@keyframes strikethrough {
  0% {
    width:0%;
  }
  20%{
    width:0%;
  }
  40%{
    width:100%;
  }
  100%{
    width:100%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.centered{
  width:60%;
  margin:50px auto 150px auto;
  text-align: left;
}

body #shape .centered{
  text-align: center;
}

body #shape,
body #word{
  position:fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%;
  width:100%;
  /*background-color: white;*/
  opacity: 0;
  z-index: -10;
  background-color: #f7f7f7;
  
}

body #word{
  transition:opacity 0.2s, z-index .3s;
}

.third-view{
  /*height:70%!important;*/
  bottom:0;
}
.third-view .centered{
  margin-top:280px;
}

body #shape{
  background-color: transparent;
}

body[state="shape"] #shape,
body[state="word"] #word{
  opacity:1;
  z-index: 10;
}

body[state="flow"] #sketch canvas{
  cursor: grab;
}

/*.header{
  margin-top: 50px;
}*/
.hud{
  width: 100%;
  margin: 20px 0;
  display: block;
}
.hud.inactive{
  display: none;
}

#category{
    border-bottom: solid 1px #333;
    padding: 0.3em 0;
}
#category a{
  padding: 0 0.5em;
}
#category a:hover,
#category a.active{
  color:#a78d00;
}
#category a:not(:last-child){
  border-right:solid 1px #333;
}
.main{
  margin: 40px 0 150px 0;
}

#info-area{
  margin-top: 10px;
}
.info-item{
  position: relative;
  padding: 0.5em 2em;
  margin: 1em 0;
  /*border: solid 1px #a78d00;*/
  border: solid 1px transparent;
  border-radius: 15px;
}
#info-area[tag="social"] .info-item[tag="social"],
#info-area[tag="linguistic"] .info-item[tag="linguistic"],
#info-area[tag="economic"] .info-item[tag="economic"]{
  border: solid 1px #a78d00;
}
.info-item span{
  position: absolute;
  top: 50%;
  left: -2.5em;
  width: 15px;
  height: 15px;
  margin-top: -5px;
  background-color: #f7f7f7;
  border: solid 1px #a78d00;
  border-radius: 50%;
  color: #a78d00;
  text-align: center;
  line-height: 15px;
  cursor:pointer;
} 
.info-item span:hover{
  background-color: #a78d00;
  color: #f7f7f7;
} 
#side-panel .info-item p{
  margin: .3em 0;
}
#side-panel .info-item p.italic{
  font-style: italic;
}
#side-panel .info-item p.small{
  font-size: 1rem;
}


#side-panel .centered{
  width: 80%;
  padding: 50px 10%;
  margin:0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}


/*code {
  background-color: #f3f6fa;
  color: #567482;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 3px;
  word-break: normal;
  white-space: pre;
}*/



@media screen and (max-width: 900px) {
  .centered {
    width:80%;
  }
  #state-information{
    width:90%;
    margin: 50px 0;
    padding: 0 5%;
    /*background-color: white;*/
    background-color:#ffffffe6;
  }
  #state-information h3{
    font-size: 1.9rem;
  }
  #state-information p{
    font-size: 1.3rem;
  }
  #drawer{
    margin-top: -50px;
  }
  nav{
    padding-top: 15px;
  }
  nav a{
    /*font-size: 1.8rem;*/
  }
  #side-panel{
    width:100%;
    right:-100%;
  }
  .round-button{
    bottom: 50px;
  }
  #nav-button{
    transition:left .5s;
    left:-70px;
  }
  #side-panel.open #nav-button{
    left: 0px;
  }
  #download-button{
    display: none;
  }
}

