html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

canvas:hover{
  cursor: none;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-size: 1.4rem;
  line-height: 2em;
  -webkit-text-size-adjust: none;
}

p a{
  text-decoration: none;
  color:#333;
  display: inline-block;
}

p a:hover{
  color:#a78d00;
}

p a:not(.out-arrow):after{
  content:" ";
  display: block;
  border-bottom: 2px solid #a78d00;
  width: 100%;
}

a.out-arrow{
  content: "";
  display: inline-block;
  height:1em;
  background : url(../images/arrowOut.png) no-repeat;
  width: 20px;
  background-size: 120%;
  background-position: bottom right;
}

h1{
  margin-top: 4rem;
  font-size: 2.5rem;
}
h2{
  font-size: 1.8rem;
  line-height: 2em;
}
h3{
  font-size: 1.8rem;
  margin:.5em 0;
}

nav{
    position: relative;
    text-align: center;
    height: 60px;
    padding:10px;
    background-color: white;
    white-space: nowrap;
    /*overflow-x:scroll;*/
    /*overflow-y:visible!important;*/
    overflow: auto;
}

nav a{
  position: relative;
  padding:0 5px;
  cursor:pointer;
  font-size: 1.6rem;
  margin-left: 0;
  transition:margin-left .3s;
}

nav a.inactive,
nav a.inactive:hover{
  color:#dadada;
  cursor: default;
}


nav a.active,
nav a:hover{
  color:#a78d00;
}

nav a.active{
  cursor: default;
}



.header {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.header h1 {
  color: #fff;
  margin: 0;
}

#sketch{
  position: fixed;
  z-index: 0;
}

#nav-button{
  position:fixed;
  bottom:0;
  right:0;
  width:100px;
  height:100px;
  margin:20px;
  background-color: #C4991D;
  z-index:20;
  cursor:pointer;
}

#state-information{
  position: fixed;
  bottom:0;
  margin: 50px 2.5%;
  width: 15%;
  z-index:20;
}

#state-information p{
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.3em;
}

#drawer{
  position: fixed;
  height:55%;
  width:100%;
  background-color: #f3f3f0;
  top:100%;
  z-index:25;
  margin-top: -40px;
}


.slide-in {
  animation-duration: .3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@-webkit-keyframes slidein { from {top:100%;} to {top:55%;} }
        @keyframes slidein { from {top:100%;} to {top:55%;} }

.lds-dual-ring{
  margin-left: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -11px;
    margin-left: -55px;
    border-radius: 50%;
    border: 3px solid #a78d00;
    border-color: #a78d00 transparent #a78d00 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#lang-anim{
  display: inline-block;
  position: relative;
}
#lang-anim:after{
  content: "";
  display: inline-block;
  position: absolute;
  border-bottom: 2px solid black;
  width: 0%;
  top: 50%;
  left: 0;
  animation: strikethrough 3s ease-out infinite;
}
#lang-anim:before{
  content:"against?";
  display: inline-block;
  position: absolute;
  margin-top: -1em;
  margin-left: -50%;
  opacity: 0;
  animation: fadein 3s ease-in infinite;
}
@keyframes strikethrough {
  0% {
    width:0%;
  }
  20%{
    width:0%;
  }
  40%{
    width:100%;
  }
  100%{
    width:100%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.centered{
  width:60%;
  margin:50px auto 150px auto;
  text-align: left;
}

body #shape .centered{
  text-align: center;
}

body #shape,
body #word{
  position:fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%;
  width:100%;
  background-color: white;
  opacity: 0;
  z-index: -10;
  
}

body #word{
  transition:opacity 0.2s, z-index .3s;
}

.third-view{
  /*height:70%!important;*/
  bottom:0;
}
.third-view .centered{
  margin-top:280px;
}

body #shape{
  background-color: transparent;
}

body[state="shape"] #shape,
body[state="word"] #word{
  opacity:1;
  z-index: 10;
}



/*code {
  background-color: #f3f6fa;
  color: #567482;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 3px;
  word-break: normal;
  white-space: pre;
}*/


@media screen and (max-width: 900px) {
  .centered {
    width:80%;
  }
  #state-information{
    width:90%;
    margin: 50px 0;
    padding: 0 5%;
    background-color: white;
  }
  #state-information h3{
    font-size: 1.9rem;
  }
  #state-information p{
    font-size: 1.3rem;
  }
  #drawer{
    margin-top: -50px;
  }
  nav{
    padding-top: 15px;
  }
  nav a{
    /*font-size: 1.8rem;*/
  }

}

