<section id="drawer">
	<nav>
		<a state="word" class="active">word</a>
		<a state="shape" class="inactive lds-dual-ring">symbol</a>
		<a state="scan" class="inactive">scan</a>
		<a state="points" class="inactive">vertex</a>
		<a state="mesh" class="inactive">mesh</a>
		<a state="material" class="inactive">material</a>
		<a state="flow" class="inactive">dust</a>
	</nav>
	<div class="divider">
		LOREM IPSUM COLOR
	</div>
	<div class="divider scrollable-box">

	</div>
</section>