<section id="drawer">
	<div class="nav">
		<a>shape</a>
		<a>scan</a>
		<a>mesh</a>
		<a>points</a>
	</div>
	<div class="divider">
		LOREM IPSUM COLOR
	</div>
	<div class="divider scrollable-box">

	</div>
</section>