<aside id="side-panel">
	<div id="nav-button" class="round-button"></div>
	<div class="button-panel">
		<div id="download-button">download</div>
		<div id="refresh-button">refresh</div>
	</div>
	<div class="centered">
		<div class="header">
			<h3>7. gold dust </h3>
			<p>This de-materialized form, an index of the light rays that bounced off of the surface of an object, floats out of context online. How does the matter of history, the museum and the archive perform in the world? Act as the archivist; collect, distort and download. </p>
		</div>
		<div class="main">
			<div id="hud-container">

			</div>
			<div id="info-area">
			</div>
		</div>
	</div>
</aside>