<aside id="side-panel">
	<div id="nav-button" class="round-button"></div>
	<div class="button-panel">
		<div id="download-button">download</div>
		<div id="refresh-button">refresh</div>
	</div>
	<div class="centered">
		<div class="header">
			<h3>7. dust </h3>
			<p>This de-materialized form, an index of the light rays that bounced off the surface of an object, floats out of context online. Re-sequence information, overlay value and weight, do we then start to collect gold dust in the Archive?</p>
		</div>
		<div class="main">
			<div id="hud-container">

			</div>
			<div id="info-area">
			</div>
		</div>
	</div>
</aside>