<section id="shape" class="third-view">
	
	<div class="centered ">
		<!--<h1>Object performance</h1>-->


		<h2>'If you inherit from a white man, you fight <span id="lang-anim">with</span> cannons.’<a target="blank" href="https://www.britishmuseum.org/research/collection_online/collection_object_details.aspx?objectId=626113&partId=1&searchText=Af1979,01.3709&page=1" class="out-arrow"></a></h2>
		<p> and / or </p>
	
		<h2>'When you eat the white man’s pay, you fight at the cannon’s mouth.'<a target="blank" href="https://digitalcollections.sit.edu/cgi/viewcontent.cgi?referer=https://www.google.co.uk/&httpsredir=1&article=1037&context=african_diaspora_isp" class="out-arrow"></a></h2>
		</br>
		<p> Many Akan gold weights have sayings and symbolism associated with their forms. When reading one of the sayings associated with the cannon, I had a hesitation about the meaning of the word 'with', which led me to look for an alternate version of the saying. The first quote is from the catalog entry on the British Museum site, I found the second quote in a work that explores Ashanti (a sub-group of the Akan people) and Dagari proverbs as a means of examining the societal effects of the Atlantic slave trade. That slippage of meaning, of translation, is no small thing when thinking about how this gold weight, in all its forms, performs in the world.</p>

	</div>
</section>