<section id="word">
	<div class="centered">
		<h1>The Cannon</h2>

		<p>Join me as I gather different pieces in an exploration of Akan Gold Weights and the gold dust they were used to weigh. </p>

		<p>I begin this residency with one of the cannon weights from the British Museum collection. Of the many different types and forms of gold weights, there are only a few that were made as a result of European contact. I therefore chose it to start with because its form and symbolism allows me to critique Britain's involvement in this history. To trace the story from the early days of European trade, to the British colonization of the Gold Coast, to their eventual abolishment of the currency system and additionally the British Museum’s acquisition, archival and digitization of these gold weights. </p>

		<p>I also chose it as a starting point in order to frame my own voice. In this work, as a white Zimbabwean artist of British colonial dissent, I pick up some of the tools—technology, algorithms, mathematical models, the anthropological, the archival, the museological—in order to attempt to dismantle the house from within. In response to what could be seen as an appropriative selection of these scans, I want to clearly state my object of study as colonial ways of thinking. In approaching a topic that can only be unbalanced with my voice alone, I am open to dialog.</p>

		<p>Over the course of the month I will be collating information about Akan Gold Weights. I will survey this history and the media within which it is encoded using invented and borrowed models (in the scientific and philosophical sense of the word). As part of this work I will be thinking about some of the vocabulary and materials of 3D scans, narrative, history and the archive. The "dust" section will be my laboratory, everything that proceeds it will be vocabulary and theory which I will add to over the month. If in the beginning there is only a skimming of the surface, I hope by the end of the month I will have a deeper network of information collected here. </p> 


        <!--<h1>Glossary</h2>

        <p> The bulk of the historical research will be collated in the "dust" section. I include here a glossary that may or may not grow.</p>-->
	</div>
</section>